
{% extends "backend/layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <!-- display current quantity of stocks -->
    <h3>Current Stock Quantity: {{transaction.quantity}}</h3>
    <h3>Total Amount Bought of Stock: {{transaction.totalExpenditure}}</h3>
    <form action="{% url 'backend:sell' %}" method="post">
      {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="symbol" required>
                <option disabled selected value>{{ stock.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min="1" required />
            <input autocomplete="off" autofocus class="form-control" name="price" placeholder="price" type="number" min="1" value={{price}} />
        </div>
        <button class="btn btn-danger" type="submit">Sell</button>
    </form>
{% endblock %}
